.sidebar-right {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.status-list {
    display: flex;
    gap: 0.8rem;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.6rem;
}

.status {
    height: 4rem;
}

.status-img {
    height: 100%;
    border-radius: 50%;
}