.form-new-post {
    background-color: #fff;
    min-height: 60rem;
    min-width: 60rem;
    padding: 3.6rem;
}


.input-box {
    margin-bottom: 2.4rem;
}


label, input, textarea {
    display: block;
}

label {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

input, textarea {
    width: 100%;
    padding: 0.3rem 0.6rem;
    border: 2px solid var(--primary300);
    font-size: 1.6rem;
    font-weight: 600;
}




.form-buttons {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
}



